body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.section1{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}
.head-line{
    border-left: 5px solid seagreen;
    padding-left: 10px;
    font-size: 35px;
    border-radius: 5px;
}
.head-line h1{
    margin: 20px;
}
.image img{
    width: 300px;
    padding-left: 300px;
}
.left-sight{
    margin-top: 50px;
}
.button{
    padding: 10px 30px;
    background-image: linear-gradient(to right,#7D831D, #206F75);
}
.button :hover{
    color: blue;
    background: white;
}
.pragraph{
    font-size: 24px;
}
.h4font{
    font-size: 35px;
    margin: 10px;
}
.color-olive{
    color: olive;
}
.color-206F75{
    color: #206F75;
}
.button a{
    text-decoration: none;
    color: whitesmoke;
}
.section2 h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 60px;
    font-weight: bold;
}
.steps{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}
#step1{
    width: 400px;
    padding: 30px 30px 20px 50px;
    background: rgba(72, 107, 212, 0.589);
    border-radius: 30px;
}
#step2{
    width: 400px;
    padding: 30px 30px 20px 50px;
    background: rgba(99, 197, 141, 0.404);
    border-radius: 30px;
}
#step3{
    width: 400px;
    padding: 30px 30px 20px 50px;
    background: rgba(48, 192, 192, 0.568);
    border-radius: 30px;
}
.section3{
    display: flex;
    width: 80%;
    margin: 10% 10%;
     
}
.sec3img{
    width: 1200px;
    border-radius: 30px;
}
.sec3img img{
    width: 100%;
}
.sec3pra{
    width: 80%px;
    margin-left: 200px;
}
.sec3pra h3{
    font-size: 50px;
    color: #206F75;
}
.section4{
    display: flex;
    width: 80%;
    margin: 10% 10%;
     
}
.sec4img{
    width: 1200px;
    border-radius: 30px;
}
.sec4img img{
    width: 100%;
}
.sec4pra{
    width: 80%px;
    text-align: justify;
    margin-right: 200px;
}
.sec4pra h3{
    font-size: 50px;
    color: #206F75;
}
.icon img{
    width: 200px;
}